<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Food Item</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .lato {
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>

<body class="m-5">

    <div class="container lato">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
                <div class="card">


                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- <div class="form-group m-3">
                            <label>Description</label>
                            <input required name="description" type="text" placeholder="Enter a description"
                                class="form-control">
                        </div> -->

                        <div class="form-group m-3">
                            <label>Name</label>
                            <input required name="name" type="text" placeholder="Enter name of food item"
                                class="form-control">
                            <input type="hidden" id="destinput" name="destination" value="3487">
                        </div>

                        <div class="form-group m-3">
                            <label>Weight</label>
                            <input required name="weight" type="text" placeholder="Enter weight of item(s) in lbs"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Date</label>
                            <input required name="date" type="text" placeholder="Enter expiration date (yyyy-mm-dd)"
                                class="form-control">
                        </div>

                        <div class="form-group m-3">
                            <label>Gluten Free</label>
                            <select name="glutenFree" class="form-control">
                                <option value='none'>Please select</option>
                                <!-- Is this proper syntax? (the value parameter) -->
                                <option value='{{True}}'>True</option>
                                <option value='{{False}}'>False</option>

                            </select>
                        </div>

                        <div class="form-group m-3">
                            <label>Halal</label>
                            <select name="halal" class="form-control">
                                <option value='none'>Please select</option>
                                <!-- Is this proper syntax? (the value parameter) -->
                                <option value='{{True}}'>True</option>
                                <option value='{{False}}'>False</option>

                            </select>
                        </div>

                        <div class="form-group m-3">
                            <label>Select a category</label>
                            <select name="category" class="form-control">
                                <option value='none'>Select a category...</option>

                                {% for category in categories %}
                                <option value='{{category.id}}'>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group m-3">
                            <label>Create a new category</label>
                            <input name="category_new" type="text" placeholder="Create a new category"
                                class="form-control">
                        </div>

                            


                        <!-- <div class="form-group m-3">
                            <label>Upload Excel</label>
                            <input required name="foodDict" type="file" multiple class="form-control-file"> 
                        </div> -->

                        <button type='submit' class="btn btn-primary m-3">Submit</button>

                        <script>
                            destinations = ['House of Friendship',
                                            'Woolwich Community Services',
                                            'Wilmot Family Resource Centre',
                                            'oneROOF',
                                            'Marillac Place']
                            document.getElementById('destinput').value = destinations[Math.floor(Math.random()*destinations.length)];
                        </script>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>